
$red: rgb(235, 53, 89);

$dark-orange: rgb(219, 138, 104);

$orange: rgb(254, 221, 159);

$orange-transparent: rgba(254, 221, 159, 0.3);

$white-transparent: rgba(245, 245, 245, 0.271);

////  screen

$phone: 450px;
$mid-screen: 800px;